{% extends "base.html" %}
{% load socialaccount %}
{% load account %}

{% block content %}
<div class="auth-wrapper">
  <div class="auth-container">
    <h2>Login to your account</h2>
  
    <form method="POST">
      {% csrf_token %}
  
      <label>Email or Username</label>
      {{ form.login }}
  
      <label>Password</label>
      {{ form.password }}
  
      {% if form.errors %}
        <div class="form-error">
          {{ form.non_field_errors }}
        </div>
      {% endif %}
  
      <button type="submit">Login</button>
    </form>
  
    <hr>
  
    <h3>Or Continue With</h3>
    <div class="social-auth-wrapper">
      <a href="{% provider_login_url 'google' %}">
        <i class='bx bxl-google auth-large-icon'></i>Continue with Google
      </a>
      
      <a href="{% provider_login_url 'facebook' %}">
        <i class='bx bxl-facebook auth-large-icon'></i>Continue with Facebook
      </a>
    </div>
    
    <p class="signup-prompt">
      Don’t have an account? 
      <a class="acc-line" href="{% url 'account_signup' %}">Sign up here</a>
    </p>
  </div>
</div>
{% endblock %}
